@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-bangers: "Bangers", sans-serif;
  --color-oliver-light: #40bd8bff;
  --color-yellow-dark: #f6eba9ff;
  --color-yellow-light: rgba(246, 235, 169, 1);
  --color-pink-light: #eb6974ff;
  --color-red-dark: #e63638ff;
  --color-oliver-dark: #30706fff;
  --color-blue-light: #a8dadc;
  --clip-path-div: polygon(0 1%, 100% 0%, 100% 80%, 0 100%) polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
}

.font-bangers {
  font-family: var(--font-bangers);
  letter-spacing: 0.2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {


  .animate-marquee {
    animation: marquee 8s linear infinite;
    display: inline-block;
    white-space: nowrap;
  }

  .overflow-hidden:hover .animate-marquee {
    animation-play-state: paused;
  }

  .div-posts-path {
    position: relative;
    height: 210px;
  }

  .div-posts-path::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-oliver-dark);
    clip-path: polygon(0 40%, 100% 0%, 100% 96%, 0 100%);
    z-index: 1;
  }

  .div-posts-path::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 12%);
    background-size: 18px 18px;
    clip-path: polygon(0 41%, 100% 0%, 100% 96%, 0 100%);
    z-index: 2;
  }

  .div-rectangle-path {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 360px;
  }

  .div-rectangle-path::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-oliver-dark);
    clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0 100%);
    z-index: 1;
  }

  .div-rectangle-path::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 18px 18px;
    clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0 100%);
    z-index: 2;
  }

  .h1-rectangle-path {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
  }

  .h1-rectangle-path::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-oliver-dark);
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 1;
  }

  .h1-rectangle-path::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 2;
  }

  .hero-rectangle-path {
    position: relative;
    width: 100%;
  }

  .hero-rectangle-path::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-oliver-dark);
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 1;
  }

  .hero-rectangle-path::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 2;
  }

  .hero-rectangle-path>* {
    position: relative;
    z-index: 3;
  }

  .hero-rectangle-path-alt::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000;
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 1;
  }

  .hero-rectangle-path-alt::after {
    content: "";
    position: absolute;
    inset: 4px;
    background-color: var(--color-yellow-light);
    background-image: radial-gradient(var(--color-red-dark) 10%, transparent 11%);
    background-size: 16px 16px;
    clip-path: polygon(0 1%, 100% 0%, 100% 80%, 0 100%);
    z-index: 2;
  }

  .hero-rectangle-path-alt>* {
    position: relative;
    z-index: 3;
  }

  /* Ajuste para o halftone-close quando necessário */
  .hero-rectangle-path.halftone-close::after {
    background-size: 16px 16px;
  }

  /* Versões responsivas */
  @media (min-width: 640px) {
    .hero-rectangle-path::after {
      background-size: 12px 12px;
    }
  }

  @media (min-width: 768px) {
    .hero-rectangle-path::after {
      background-size: 16px 16px;
    }
  }

  @media (min-width: 1024px) {
    .hero-rectangle-path::after {
      background-size: 20px 20px;
    }
  }

  .halftone-index {
    z-index: 0;
  }

  .halftone-bg {
    background-color: var(--color-yellow-light);
    background-image: radial-gradient(#e63946 10%, transparent 11%);
    background-size: 16px 16px;
  }

  .halftone-close {
    background-size: 16px 16px;
  }

  .halftone-wide {
    background-size: 15px 15px;
  }

  @media (min-width: 640px) {
    .halftone-bg-sm {
      background-size: 12px 12px;
    }
  }

  @media (min-width: 768px) {
    .halftone-bg-md {
      background-size: 16px 16px;
    }
  }

  @media (min-width: 1024px) {
    .halftone-bg-lg {
      background-size: 20px 20px;
    }
  }


  .halftone-red {
    background-color: var(--color-pink-light);
    background-image: radial-gradient(#e9ddde 10%, transparent 11%);
    background-size: 16px 16px;
    border: 3px solid var(--color-oliver-dark);
  }

  .halftone-blue {
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
    /* border: 3px solid var(--color-oliver-dark); */
  }

  .halftone-gray-light {
    background-color: #7f8c8d;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
    /* border: 3px solid var(--color-oliver-dark); */
  }



  .halftone-blue-no-border {
    background-color: #a8dadc;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
  }

  .halftone-blue-dark {
    background-color: #79d410;
    background-image: radial-gradient(#1d3557 10%, transparent 11%);
    background-size: 16px 16px;
    /* border: 3px solid var(--color-oliver-dark); */
  }



  .halftone-blue-radial-white {
    background-color: #a8dadc;
    background-image: radial-gradient(#ffffff 10%, transparent 11%);
    background-size: 16px 16px;
    border: 3px solid var(--color-oliver-dark);
  }

  .halftone-white-dark {
    background-color: #ffffff;
    background-image: radial-gradient(#5c6c83 10%, transparent 11%);
    background-size: 16px 16px;
  }

  .halftone-black-dark {
    background-color: #2c3e50;
    background-image: radial-gradient(#6d6c6c 10%, transparent 11%);
    background-size: 16px 16px;
  }

  .halftone-yellow {
    background-color: #f9d71c;
    background-image: radial-gradient(#e63946 10%, transparent 11%);
    background-size: 16px 16px;
    /* border: 3px solid var(--color-oliver-dark); */
  }
}

@theme {
  --color-principal-seligadev: #020916;
  --color-secondary-seligadev: #101928;
  --color-tertiary-seligadev: #f7f0e9;
  --color-quarter-seligadev: #56758b;
  --color-oliver-light: #40bd8bff;
  --color-yellow-light: #f6eba9ff;
  --color-pink-light: #eb6974ff;
  --color-red-dark: #e63638ff;
  --color-oliver-dark: #30706fff;
  --color-blue-light: #a8dadc;
  --color-gray-light: #ecf0f1;

  --tracking-h1: 0.08em;
  --tracking-h2: 0.15em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}